.img-cont 
{
    position: relative; 
}


.overlay
{
    background-color: rgba(125,125,0,0.7); 
    position: absolute; 
    bottom: 5%; 
    width: 90%; 
}

.lolo
{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0;
    background-color: rgba(0,0,0,0.5); 
    display: none ; 
}

.cont 
{
    width: 50%; 
    background-image: url(../image/agave-botanical-botany-1533960.jpg); 
    height: 600px; 
    background-size: 100% 100%; 
}


.show
{
    display: flex; 
}
.ico-mine
{
    position: absolute;
    top: 20px;
    right: 20px;
    color: red;
    cursor: pointer
}